* {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(33, 31, 31);
  color: antiquewhite;
}

.box {
  /* border: 2px solid rgb(248, 243, 243); */
  height: 250px;
  width: 350px;
  margin-left: 35%;
  box-shadow: 5px 5px 20px 10px;
 text-align: center;
 margin-top: 50px;

}